@tailwind base;
@tailwind components;
@tailwind utilities;



html {
   height: 100%;
}

#root {
   height: 100%;
}

* {
   margin: 0;
   padding: 0;
   /* overflow-x: hidden; */
}

.glass-effect {
   background: rgba(255, 255, 255, 0.2);
   /* semi-transparent background */
   backdrop-filter: blur(10px);
   /* blur effect */
   -webkit-backdrop-filter: blur(10px);
   /* Safari support */
   border-radius: 10px;
   /* rounded corners */
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   /* subtle shadow */
}


/* Slider css  */

.container__slider {
   position: relative;
   width: 100%;
   margin: 0 auto;
   padding: 0;
   overflow: hidden;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: row;
   flex-wrap: nowrap;
}

.container__slider>button {
   outline: none;
   border: 0;
   color: whitesmoke;
   font-size: 24px;
}

.container__slider>button:active {
   color: black;
}

/* .slider__btn-next {
   position: absolute;
   right: 0;
} */
/* 
.slider__btn-prev {
   position: absolute;
   left: 0;
} */

.container__slider__links {
   position: absolute;
   bottom: 5%;
   left: 50%;
   transform: translateX(-50%);
}

.container__slider__links-small {
   position: relative;
   width: 8px;
   height: 8px;
   padding: 0;
   border-radius: 50%;
   outline: none;
   border: 0;
   background-color: white;
   border: 1px solid grey;
   transition: background-color 1s ease;
   margin: 0 2px;
}

.container__slider__links-small-active {
   background-color: black;
}

.slider__item {
   box-sizing: border-box;
   min-width: 100%;
   height: auto;
   margin-top: 100px;
   overflow: hidden;
   object-fit: cover;
   height: auto;
   transform: translateX(0);
   transition: transform 1s ease;
}

.slider__item-active-1 {
   transform: translateX(0);
}

.slider__item-active-2 {
   transform: translateX(-100%);
}

.slider__item-active-3 {
   transform: translateX(-200%);
}

.slider__item-active-4 {
   transform: translateX(-300%);
}

.slider__item-active-5 {
   transform: translateX(-300%);
}

.slider__item-active-6 {
   transform: translateX(-300%);
}

.slider__item-active-7 {
   transform: translateX(-300%);
}

.slider__item img {
   width: 100%;
   height: auto;
}


.slick-slide>div {
   margin: 0 15px;
}


/* FAQ CSS  */
.faqs {
   width: 100%;
   max-width: 768px;
   margin: 0 auto;
   padding: 15px;
}

.faqs .faq {
   margin: 15px;
   padding: 15px;
   background: #fff;
   border-radius: 10px;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
   border: 1px solid #D9D9D9;
}

.faqs .faq .faq-question {
   position: relative;
   font-size: 20px;
   padding-right: 80px;
   transition: all 0.4s ease;
}


.faqs .faq .faq-icon {
   position: absolute;
   top: 50%;
   right: 0px;
   transform: translateY(-50%);
   width: 30px;
   height: 30px;
   transition: all 0.2s ease;
}

.faqs .faq .faq-answer {
   opacity: 0;
   max-height: 0;
   overflow: hidden;
   transition: all 0.2s ease;
}

.faqs .faq.open .faq-question {
   margin-bottom: 15px;
}

.faqs .faq.open .faq-answer {
   max-height: 1000px;
   opacity: 1;
}

.inline {
   display: inline;
}

/* @keyframes slide-up {
   0% {
      opacity: 0;
      transform: translateY(20px);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

.animate-slide-up {
   width: 100%;
   animation: slide-up 0.7s ease-out;
} */

.nav-item {
   transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav-item:hover {
   color: purple;
   border-bottom: 2px solid purple;
}